:root {
  --pms-152c:#ed6f00;
  --pms-152c:lab(60 36 66 / 1);
  --pms-152c:hsl(30, 100%, 45%);
  /* background-color: lab(57.9 64.4 68.4 / 1)!important; */
}

.text-152c {
  color:var(--pms-152c);
}
.container > div {
  text-shadow: 0 0 3px #00000045;
}
html{
	font-size: 0.875rem;
}

.input-group:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(237, 111, 0, 0.25);
}

.form-control:focus {
  border-color: inherit; 
  box-shadow: none;
}
button.btn.btn-outline-secondary.border-0.rounded-end:hover{
background-color: var(--pms-152c);
}
.card-block {
    padding-left: 2%;
    padding-right: 2%;
}
#slideshowRes {
    padding-right:0;
    padding-left: 0;
}
#footer{
    padding-left: 4rem;
    padding-right: 4rem;
    margin:0;
    background-color:rgb(24,62,101)!important;
}
#footer>* {
    color: #dedad6;
}

p#copyright {
    color:#dedad6!important;
}
@media (min-width: 992px) {
#formIcon {
	position: absolute;
  z-index: 1;
}
}
/* Limite */
/* Oculta todos los pasos inicialmente */
.tab {
  display: none;
}

.tab > p > input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

.tab > p > input:valid {
  background-color: rgba(144, 238, 144, 0.123);
}

.tab > p > input.invalid {
  background-color: rgb(255, 255, 255);
}

#botones * {
  cursor: pointer;
}

#botones > div > button,
button#nextBtn:disabled {
  background-color: var(--pms-152c);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
}

#botones > div > button:hover:enabled {
  opacity: 0.8;
}

button#nextBtn:disabled {
  background-color: gray;
  cursor: not-allowed;
}
#prevBtn {
  background-color: var(--pms-152c);
}

/* indicadores de la pestaña actual */
.step {
  height: 5px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 25%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: var(--pms-152c);
}

.radio-form {
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  /* @media screen and (max-width: 768px) {
    .radio-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
      transform: none;
      position: relative;
      left: 0;
      top: 0; } } */
  .radio-form h1 {
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    font-size: 35px; }
  .radio-form .radio-control {
    min-width: 25%;
    transition: all ease 250ms; 
  }
    .radio-form .radio-control:hover {
      transform: scale(1); 
    }
      .radio-form .radio-control:hover .radio-input {
		margin: 0 5px;
}
    .radio-form .radio-control .radio-input {
      background: #f4f4f4;
      padding: 1vw;
      cursor: pointer;
      position: relative;
      margin: 3px;
      transition: all ease 250ms;
      background-clip: padding-box;
      border: solid 2px transparent;
      border-radius: 10px; }
      .radio-form .radio-control .radio-input:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        margin: -2px;
        border-radius: inherit;
        /* background: #d9d9d9; */
      }
      .radio-form .radio-control .radio-input i {
        display: block;
        font-size: 40px;
        opacity: .2; }
      .radio-form .radio-control .radio-input span {
        font-weight: 200;
        text-transform: uppercase;
        display: block;
        margin-top: 10px;
        opacity: .2; }
    .radio-form .radio-control input {
      display: none; }
	.radio-form .radio-control input:checked {
    border: 5px solid white;
	}
      .radio-form .radio-control input:checked + .radio-input span {
        color: #ffffff;
        opacity: 1;
        transition: opacity ease 250ms; }
      .radio-form .radio-control input:checked + .radio-input:after {
        top: 0;
        right: 20px;
        transform: translateY(-50%);
        animation-name: bounceIn;
        animation-duration: 250ms;
        background-color: white;
        font-size: 25px;
        line-height: 25px;
        border-radius: 25px;
        display: block;
        position: absolute;
        content: "\f058";
        font-family: "Font Awesome 5 pro";
        font-weight: bold; 
      }
.radio-form .radio-control input:checked + .radio-input {
border: 2px;
background: var(--pms-152c);
outline-style: dashed;
}
@keyframes bounceIn {
  0% {
    transform: translateY(-50%) scale(0); }
  75% {
    transform: translateY(-50%) scale(1.1); }
  100% {
    transform: translateY(-50%) scale(1); } }



@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/cocogoose-thin-webfont.woff2') format('woff2'),
       url('../fonts/cocogoose-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/cocogoose-thinitalic-webfont.woff2') format('woff2'),
       url('../fonts/cocogoose-thinitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/cocogoose-ultralight-webfont.woff2') format('woff2'),
       url('../fonts/cocogoose-ultralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/cocogoose-ultralightitalic-webfont.woff2') format('woff2'),
       url('../fonts/cocogoose-ultralightitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/cocogoose-light-webfont.woff2') format('woff2'),
       url('../fonts/cocogoose-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose';
  src: url('../fonts/cocogoose-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/cocogoose-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

* {
	font-family: 'cocogoose';
}
